.welcome-page {

    background-size: cover;
    padding: 18%;
    text-align: center;

}

.lead {
    text-align: center;
    width: 90%;
    padding-left: 8%;
    font-size: 40px;
    color: #423e3e;


  }

.cover-heading {
    text-align: center;
    width: auto;
    margin: auto;
    padding-bottom: 2%;
    font-size: 120px;
    color: #121212;
    font-weight: 300;

}
$theme-colors: (
  "primary":    $primary,
  "secondary":  $secondary,
  "success":    $success,
  "info":       $info,
  "warning":    $warning,
  "danger":     $danger,
  "light":      $light,
  "dark":       $dark
);


.str_to_morce {

}

.str_to_morse_heading {
    padding-top: 10%;
    text-align: center;
    font-weight: 300;

}

.coll {
    padding: 3% 20%;
}


