{% include "header.html" %}
<body style="background-image: url(static/img/morscecode-background.png);" class="str_to_morce">
    <h2 class="str_to_morse_heading"> String to Morse Code Converter</h2>
    <div class="coll">
        <form id="morse-form" method="POST">
            <input  class="form-control form-control" name="entrys" id='entry-morse' type="text" placeholder="Write down, what you want to convert" aria-label=".form-control-lg">
            <br>
            {% if CLASS == 'Converted' %}
                <button  type="button"  class="btn btn-outline-success" >Converted</button>
            {% else %}
                <button  type="button"  class="btn btn-outline-danger" >Not-Converted-yet</button>
            {% endif %}
        </form>
            <br>
        {% if CODER != '' %}
            <div  class="alert alert-primary" role="alert">

               <h3 style="font-weight:300;">{{ CODER }}</h3>
            </div>
        {% endif %}



    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>

</body>